.avatar{
    width:32px;
    height: 32px;
}


@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end !important;
        margin-right: 0;
    }
}