

.custom-select { 
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .625rem + 2px);
    padding: .3125rem 2rem .3125rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #344050;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%234d5969' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px;
    border: 1px solid #d8e2ef;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.mystyle {
    transform-origin: 0.5em 0.5em;
  }


.ratings{
    width: 160px;
}

/* .rating {
    display: none;
} */

.stars {
    margin-top: 10px;
    display: flex;
}

.stars-filled {
    display: flex;
    justify-content: flex-start;
    margin-top: -32px;
    overflow: hidden;
    height: 32px;
}



@media screen and (min-width: 992px) {
    .card{
        max-width: 400px; 
        height: 100%;
    }

    .stats{
        justify-content: space-around;
        height:100%;
    }

    .custom-select { 
        width:30%;
    }

}